body {
  font-size: 1.25rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  transition: all 500ms;
   margin: 0;
} 

@media screen and (min-width: 600px) {
  .header, .footer {
    width: 100vw;
  }
  
}
.site {
  min-height: 100vh;
  
}

:root {
  --primary-color: rgb(1, 78, 18);
}


header {
  background-color: rgb(1, 78, 18);
  
  transition: ease-in-out 0.15s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

footer{
  background-color: var(--primary-color);
  height: auto;
  width: 100vw;
  position: fixed;
  bottom: 0;
  margin-top: 40px;


  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

 
}


.logo {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  font-family: twinkle star, sans-serif;
  font-size: 1.4rem;
}

.profile {
  width: 2.5em;
  height: 2.5em;
  border-color: rgb(1, 78, 18)ck;
  border-style:groove;
  border-radius: 50%;
  position: absolute;
}

main {
  margin: 0;
  
}

fieldset {
  padding: 12px;
  border-radius: 15px;
  border-style: none;
  height: auto;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;;
  background-color: rgb(236, 235, 235);
  position: relative;
  cursor: pointer;
}

.tweet {
  border-radius: 25px;
  height: 2.2em;
  width: 30em;
  border-style: unset;
  padding: 15px;
  background-color: rgb(203, 203, 238);
  margin-left: 62px;
  cursor: pointer;
 
}

.submit {
  border-radius: 8px;
  border-color: transparent;
  position: relative;
  background-color: rgb(1, 78, 18);
  color: white;
  font-weight: 600;

}


.dropbtn {
  background-color: rgb(1, 78, 18);
  color: white;
  padding: 10px 16px;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  
  justify-self: start;
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(1, 78, 18);
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  font-weight: 100;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:  rgb(2, 77, 18);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(2, 77, 18, 0.2);
  z-index: 1;
  right: 0;
  left: auto;
  
}

.dropdown-content a {
  font-size: 1.0rem;
  color: rgb(255, 255, 255);
  padding: 8px;
  text-decoration: none;
  display: block;
  text-align: center;

}

.dropdown-content a:hover {
  background-color: rgb(3, 59, 24);
  color: white;
}

.show {display: block;}

/* Recent-posts */

.recent-posts {
  
  padding: 12px;
  border-radius: 15px;
  border-style: none;
  height: auto;
  width: auto;
  margin-top: 10px;
  background-color: rgb(236, 235, 235);
  
  
}

.recent-post-heading {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(1, 78, 18);
  justify-self: center;
  position: relative;
  text-decoration: underline;
  
  

}



/* File: social%20platform.css 





.container {
  position:relative;
}
.box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
.top-box {
  z-index: 1;
  background: blue;
  width: 200px;
  height: 200px;
  top: 50px;
  left: 50px;
}
*/
